<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/Navbar') %> 
    <%- include('./partials/scripts') %>
  </body>
</html>
